*{
    padding: 0; margin: 0;
}



@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa"),
         url("Comfortaa.ttf") format("woff2"),
         url("/Comfortaa.ttf") format("woff");
  }
  
  body {
    font-family: "Comfortaa";
    color:rgb(240, 240, 240);
    line-height: 1.25;
    font-size: 1rem;
    background-color:rgb(27, 27, 27) ;
  }

.wrap{
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
}
  
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 35px ;
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(29, 29, 29, 1);
  z-index: 999;
  box-shadow: 0px 0px 49px -1px rgb(29, 29, 29);
  transition-duration: 0.4s;
}
.header:hover{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 35px ;
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(29, 29, 29, 1);
  z-index: 999;
  box-shadow: 0px 0px 49px -1px rgb(29, 29, 29);
}

.Twinlogo{
  transition-duration: 0s;
}

.Twinlogo:hover{
  transform: scale(1.2);
}


.menu{
  padding: 0px 20px ;
  display: flex;
  list-style: none;
}

.menu li{
  margin-left: 30px ;;
}

.menu li a{
  color:rgb(221, 221, 221); text-decoration: none;
  font-size: large;
  transition-duration: 0.2s;
}

.menu li a:hover{
  color:rgb(77, 77, 77); text-decoration: none;
  font-size: larger;
}

.header a{
  width: 60px; height: 60px;
  padding: 5px 0px;
  transition-duration: 0.2s;
}

.header a:hover{
  padding: 0px 0px;
  width: 70px; height: 70px;
}

.hello_wrap{
  background: url(imgs/firstbg.png) center center no-repeat;
  background-size: cover;
  padding: 100px 0px 140px 0px;
  transition-duration: 1s;
  box-shadow: inset 0px 0px 29px 24px rgb(27, 27, 27, 0.5);
  z-index: -2;
}

.hello_wrap:hover{
  background: url(imgs/firstbg.png) center center no-repeat;
  background-size: cover;
  padding: 100px 0px 140px 0px;
  box-shadow: inset 0px 0px 29px 24px rgb(88, 88, 88, 0.5);
}

.roles_hello_wrap{
  background: url(imgs/thirdbg.png) center center no-repeat;
  background-size: cover;
  padding: 100px 0px 140px 0px;
  transition-duration: 1s;
  box-shadow: inset 0px 0px 29px 24px rgb(27, 27, 27, 0.5);
}


.roles_hello_wrap:hover{
  background: url(imgs/thirdbg.png) center center no-repeat;
  background-size: cover;
  padding: 100px 0px 140px 0px;
  box-shadow: inset 0px 0px 29px 24px rgb(88, 88, 88, 0.5);
}

.hello{
  text-align: center;
}

.twinmoon_text{
  padding: 70px;
}

.worthiness{
  padding: 40px;
  color:rgb(175, 175, 175) ;
}

.roles_title{
  text-align: center;
  padding: 50px 0px;
  font-size: 2.75rem;
}

.work_text{
  padding: 0px 40px;
}

.roles_wrap{
  padding: 50px 0px ;
}

.paddingworktext{
  padding: 20px 0px; color:rgb(175, 175, 175);
}

.paddingworktext1{
  padding: 0px 0px; color:rgb(175, 175, 175);
}

.worktitletext{
  color:rgb(241, 241, 241);
}

.worktitletext1{
  color:rgb(241, 241, 241); padding: 30px 0px;
}

.work_item:nth-child(2n){
  flex-direction: row-reverse;
}

.work_item{
  display: flex; align-items: center; justify-content: space-between; margin-bottom: 100px;
}

.work_item1{
  display: flex; flex-direction: row-reverse; align-items: center; justify-content: space-between; margin-bottom: 100px;
}

.work_item2{
  display: flex; flex-direction: row-reverse; align-items: center; justify-content: space-between; margin-bottom: 100px;
}

.work_item3{
  display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin-bottom: 100px;
}

.work_itemy{
  display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin-bottom: 100px;
}


.form{
  display: flex; flex-direction: row-reverse; align-items: center; justify-content: space-between; margin-bottom: 100px;
}

@media (max-width: 800px){
  .header{
    flex-direction: column;
  }

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px ;
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(29, 29, 29, 1);
    z-index: 999;
    transition-duration: 0.4s;
  }
  
.header:hover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px ;
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(29, 29, 29, 1);
    box-shadow: 0px 0px 49px -1px rgb(92, 92, 92);
    z-index: 999;
  }

  .menu li{
    margin-left: 11px ;
  }

  .worthiness {
    padding: 10px;
    color: rgb(175, 175, 175);
    font-size: larger;
  }

  .waitin {
    padding: 10px;
    font-size: x-large;
  }

  .twinmoon_text {
    padding: 20px;
  }

  .work_item{
    display: flex; flex-direction: column; align-items: center; justify-content: space-between; margin-bottom: 100px;
  }

  .work_item1{
    display: flex; flex-direction: column; align-items: center; justify-content: space-between; margin-bottom: 100px;
  }
  
.work_item2{
    display: flex; flex-direction: column; align-items: center; justify-content: space-between; margin-bottom: 100px;
  }
  
.work_item3{
    display: flex; flex-direction: column; align-items: center; justify-content: space-between; margin-bottom: 100px;
  }

.work_item4{
    display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 100px;
  }
  
.work_image{
    max-width: 50px; max-height:50px ; align-content: center; margin-right: 450px ;
  }

.work_itemy{
    display: flex; flex-direction: column-reverse; align-items: center; justify-content: space-between; margin-bottom: 100px; padding-top: 200px;
  }

.work_text{
    padding-top: 500px;
  }

.work_texti{
    padding-top: 230px; text-align: center;
  }

.work_imagei{
    max-width: 50px; max-height:50px ; align-content: center; margin-right: 200px; padding: 5px;
  }

.work_imagey{
    max-width: 50px; max-height:50px ; align-content: center; margin-right: 360px ; padding-top: 20px; padding-bottom: 40px;
  }
.work_texttt{
    padding-top: 300px;
  }

.paddingworktext7{
    padding: 5px 30px; color:rgb(175, 175, 175);
  }

.worktitletext{
    text-align: center;
  }
  
.form{
  min-height: 1962px;
  }

}

.paddingworktext7{
  color:rgb(175, 175, 175);
}

.paddingworktext6{
  padding: 10px 30px; color:rgb(175, 175, 175);
}


.work_btn{
  color: rgb(221, 221, 221);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 30px;
  padding: 16px 60px;
  display: inline-block;
  transition-duration: 0.2s;
  z-index: 1001;
}

.work_btn:hover{
  color: rgb(221, 221, 221);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  border: 4px solid rgb(63, 63, 63);
  border-radius: 30px;
  padding: 15px 60px;
  display: inline-block;
  z-index: 1001;
}

.newform{
  display: flex;
  flex-direction: column;
}
.formtext{
  color:rgb(221, 221, 221);
  padding-bottom: 5px;
  padding-top: 30px; 
}
.formtext1{
  color:rgb(175, 175, 175);
  padding-bottom: 10px;
}
.newformdiv{
  max-width: 500px;
  align-items: center;
}
.textarea{
  font-size: large;
  max-width: 450px;
  max-height: 300px;
  min-width: 450px;
  min-height: 300px;
  background-color: rgb(27, 27, 27);
  border: 2px solid rgb(221, 221, 221);
  border-radius: 30px;
  padding: 5px 5px;
  display: inline-block;
  color: rgb(221, 221, 221);
  font-family: "Comfortaa";
  font-style: normal;
}

.textarea1{
  font-size: large;
  max-width: 450px;
  max-height: 100px;
  min-width: 450px;
  min-height: 100px;
  background-color: rgb(27, 27, 27);
  border: 2px solid rgb(221, 221, 221);
  border-radius: 30px;
  padding: 5px 5px;
  display: inline-block;
  color: rgb(221, 221, 221);
  font-family: "Comfortaa";
  font-style: normal;
}

.formuinput{
  font-size: large;
  font-family: "Comfortaa";
  font-style: normal;
  background-color: rgb(48, 48, 48);
  border: 2px solid rgb(221, 221, 221);
  border-radius: 30px;
  padding: 5px 5px;
  display: inline-block;
  color: rgb(221, 221, 221);
}

.form_submit_btn{
  background-color: rgb(27, 27, 27);
  color: rgb(221, 221, 221);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 30px;
  padding: 10px 30px;
  display: inline-block;
  transition-duration: 0.2s;
  margin-top: 20px;
  z-index: 2;
  font-family: "Comfortaa";
}


.form_submit_btn:hover{
  background-color: rgb(27, 27, 27);
  color: rgb(221, 221, 221);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  border: 4px solid rgb(63, 63, 63);
  border-radius: 30px;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 20px;
}

.work_imagey{
  border: 2px solid rgb(221, 221, 221);
  border-radius: 30px;
  padding: 0px 0px;
  align-content: center;
  box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.5);
}

.work_imageyy{
  border: 2px solid rgb(221, 221, 221);
  border-radius: 30px;
  padding: 0px 0px;
  align-content: center;
  box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.5);
}

.work_textet{
  max-width: 1500px;
  padding-left: 20px 20px;
  display: flex;
  flex-direction: column;
  text-align:start;
}

.work_imagei{
  border: 2px solid rgb(221, 221, 221); 
  border-radius: 250px;
  padding: 0px 0px;
  align-items: center;
  box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.5);
  transition-duration: 0.4s;
}

.work_imagei:hover{
  border: 2px solid rgb(221, 221, 221); 
  border-radius: 250px;
  padding: 0px 0px;
  align-items: center;
  box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.5);
  transform: rotate(5deg);
}

.work_imagei1{
  border: 2px solid rgb(221, 221, 221); 
  border-radius: 250px;
  padding: 0px 0px;
  align-items: center;
  box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.5);
  transition-duration: 0.4s;
}

.work_imagei1:hover{
  border: 2px solid rgb(221, 221, 221); 
  border-radius: 250px;
  padding: 0px 0px;
  align-items: center;
  box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.5);
  transform: rotate(-5deg);
}

.work_texti{
  display: flex;
  flex-direction: column-reverse; 
}

.workinimage1{
  border: 2px solid rgb(221, 221, 221); 
  border-radius: 75px;
  padding: 0px 0px;
  align-items: center;
  box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.5);
}

.workinimage2{
  border: 2px solid rgb(221, 221, 221); 
  border-radius: 25px;
  padding: 0px 0px;
  align-items: center;
  box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.5);
  margin-left: 70px;
}

.work_image{
  width: 100%; height: 100%;
  transition-duration: 0.6s; 
}

.work_image:hover{
  transform: rotate(3deg);
}

.work_image1{
  width: 100%; height: 100%;
  transition-duration: 0.6s; 
}

.work_image1:hover{
  transform: rotate(-3deg);
}

.Downtext{
  font-size: xx-small;
  color: rgb(175, 175, 175);
  text-align: center;
  padding-top: 20px;
}

@keyframes wipe-enter {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}


.waitin{
  animation: wipe-enter 10s ease-in-out infinite;
  padding: 30px; 
}




.main {
  z-index:  -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.initial-snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.initial-snow>* {
  font-size: 50px;
  color: white;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
      transform: translate3d(var(--left-ini), 0, 0);
  }

  100% {
      transform: translate3d(var(--left-end), 110vh, 0);
  }
}

.snow:nth-child(2n) {
  filter: blur(1px);
  font-size: 40px;
}

.snow:nth-child(6n) {
  filter: blur(2px);
  font-size: 30px;
}

.snow:nth-child(10n) {
  filter: blur(5px);
  font-size: 30px;
}

.snow:nth-child(1) {
  --size: 0.8vw;
  --left-ini: 0vw;
  --left-end: -1vw;
  left: 70vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -1s;
}

.snow:nth-child(2) {
  --size: 0.2vw;
  --left-ini: -7vw;
  --left-end: 10vw;
  left: 65vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -8s;
}

.snow:nth-child(3) {
  --size: 1vw;
  --left-ini: 6vw;
  --left-end: 6vw;
  left: 1vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}

.snow:nth-child(4) {
  --size: 0.2vw;
  --left-ini: -3vw;
  --left-end: 9vw;
  left: 88vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -5s;
}

.snow:nth-child(5) {
  --size: 0.4vw;
  --left-ini: -2vw;
  --left-end: -9vw;
  left: 74vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -4s;
}

.snow:nth-child(6) {
  --size: 0.2vw;
  --left-ini: 5vw;
  --left-end: 1vw;
  left: 35vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -7s;
}

.snow:nth-child(7) {
  --size: 0.4vw;
  --left-ini: -2vw;
  --left-end: -1vw;
  left: 27vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -8s;
}

.snow:nth-child(8) {
  --size: 1vw;
  --left-ini: -9vw;
  --left-end: -2vw;
  left: 69vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -8s;
}

.snow:nth-child(9) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: -5vw;
  left: 84vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -6s;
}

.snow:nth-child(10) {
  --size: 0.2vw;
  --left-ini: 7vw;
  --left-end: -9vw;
  left: 82vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -3s;
}

.snow:nth-child(11) {
  --size: 0.6vw;
  --left-ini: -2vw;
  --left-end: -1vw;
  left: 48vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -1s;
}

.snow:nth-child(12) {
  --size: 0.2vw;
  --left-ini: 5vw;
  --left-end: 6vw;
  left: 39vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -8s;
}

.snow:nth-child(13) {
  --size: 0.2vw;
  --left-ini: 6vw;
  --left-end: 5vw;
  left: 3vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -8s;
}

.snow:nth-child(14) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: -2vw;
  left: 49vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -8s;
}

.snow:nth-child(15) {
  --size: 0.6vw;
  --left-ini: 10vw;
  --left-end: 4vw;
  left: 77vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -4s;
}

.snow:nth-child(16) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: 1vw;
  left: 86vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -8s;
}

.snow:nth-child(17) {
  --size: 1vw;
  --left-ini: 6vw;
  --left-end: -7vw;
  left: 18vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -6s;
}

.snow:nth-child(18) {
  --size: 1vw;
  --left-ini: -9vw;
  --left-end: 4vw;
  left: 64vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -7s;
}

.snow:nth-child(19) {
  --size: 1vw;
  --left-ini: 2vw;
  --left-end: -7vw;
  left: 52vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -9s;
}

.snow:nth-child(20) {
  --size: 0.4vw;
  --left-ini: 0vw;
  --left-end: 8vw;
  left: 5vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -9s;
}

.snow:nth-child(21) {
  --size: 0.6vw;
  --left-ini: -9vw;
  --left-end: -2vw;
  left: 10vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -3s;
}

.snow:nth-child(22) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: -8vw;
  left: 54vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -9s;
}

.snow:nth-child(23) {
  --size: 0.6vw;
  --left-ini: -7vw;
  --left-end: -8vw;
  left: 20vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snow:nth-child(24) {
  --size: 0.4vw;
  --left-ini: 10vw;
  --left-end: -4vw;
  left: 68vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -8s;
}

.snow:nth-child(25) {
  --size: 1vw;
  --left-ini: 3vw;
  --left-end: 5vw;
  left: 90vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -9s;
}

.snow:nth-child(26) {
  --size: 1vw;
  --left-ini: -7vw;
  --left-end: 5vw;
  left: 71vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -2s;
}

.snow:nth-child(27) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: 4vw;
  left: 2vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -5s;
}

.snow:nth-child(28) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: 3vw;
  left: 23vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -1s;
}

.snow:nth-child(29) {
  --size: 0.4vw;
  --left-ini: -2vw;
  --left-end: -1vw;
  left: 39vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -9s;
}

.snow:nth-child(30) {
  --size: 0.6vw;
  --left-ini: -9vw;
  --left-end: -5vw;
  left: 76vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -5s;
}

.snow:nth-child(31) {
  --size: 0.4vw;
  --left-ini: -5vw;
  --left-end: 3vw;
  left: 14vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -5s;
}

.snow:nth-child(32) {
  --size: 0.2vw;
  --left-ini: 5vw;
  --left-end: -1vw;
  left: 86vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -9s;
}

.snow:nth-child(33) {
  --size: 0.4vw;
  --left-ini: -3vw;
  --left-end: 10vw;
  left: 66vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}

.snow:nth-child(34) {
  --size: 1vw;
  --left-ini: -3vw;
  --left-end: 6vw;
  left: 75vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -9s;
}

.snow:nth-child(35) {
  --size: 1vw;
  --left-ini: -6vw;
  --left-end: 7vw;
  left: 22vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -5s;
}

.snow:nth-child(36) {
  --size: 1vw;
  --left-ini: 3vw;
  --left-end: 4vw;
  left: 10vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -10s;
}

.snow:nth-child(37) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: 10vw;
  left: 95vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -6s;
}

.snow:nth-child(38) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 8vw;
  left: 34vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
}

.snow:nth-child(39) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: 0vw;
  left: 80vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -2s;
}

.snow:nth-child(40) {
  --size: 0.8vw;
  --left-ini: 1vw;
  --left-end: -7vw;
  left: 45vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -4s;
}

.snow:nth-child(41) {
  --size: 0.2vw;
  --left-ini: 9vw;
  --left-end: 10vw;
  left: 82vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -2s;
}

.snow:nth-child(42) {
  --size: 1vw;
  --left-ini: 9vw;
  --left-end: -9vw;
  left: 22vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -6s;
}

.snow:nth-child(43) {
  --size: 0.6vw;
  --left-ini: 5vw;
  --left-end: 8vw;
  left: 66vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -1s;
}

.snow:nth-child(44) {
  --size: 0.6vw;
  --left-ini: -5vw;
  --left-end: -2vw;
  left: 75vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -4s;
}

.snow:nth-child(45) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: 3vw;
  left: 2vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -5s;
}

.snow:nth-child(46) {
  --size: 0.2vw;
  --left-ini: 8vw;
  --left-end: -3vw;
  left: 94vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -9s;
}

.snow:nth-child(47) {
  --size: 0.6vw;
  --left-ini: -6vw;
  --left-end: -9vw;
  left: 95vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -4s;
}

.snow:nth-child(48) {
  --size: 0.2vw;
  --left-ini: -5vw;
  --left-end: 6vw;
  left: 34vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -6s;
}

.snow:nth-child(49) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: 8vw;
  left: 22vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -10s;
}

.snow:nth-child(50) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: 4vw;
  left: 100vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -9s;
}
